<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="bifröst" value="https://pkgs.dev.azure.com/kaeptn/_packaging/bifröst/nuget/v3/index.json" />
    </packageSources>
</configuration>